## Extracting data from relational databases

### SQLite Database

#### Import Package

In [1]:
# import sqlite3 package
import sqlite3

#### connect to database

In [2]:
#create a connection to a database : create the database if not available
connection = sqlite3.connect("classroomDB.db")
connection.close()

#### create table

In [3]:
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

#### insert data

In [8]:
# sample data
classroom_data = [( 1, 'Raj', 'M', 70, 84, 92),
                  ( 2, 'Poonam', 'F', 87, 69, 93),
                  ( 3, 'Nik', 'M', 65, 83, 90),
                  ( 4, 'Rahul', 'F', 83, 76, 89)]
# open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom
                       (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                       VALUES
                       ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2],
                                                                      student[3], student[4], student[5])
    # execute insert query
    cursor.execute(insert_statement)
    
# commit the changes
connection.commit()
# close the connection
connection.close()

#### extract data

In [11]:
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute results
cursor.execute(query)
# fetch results
result = cursor.fetchall()
#print results
for row in result:
    print(row)
# close connection
connection.close()

(1, u'Raj', u'M', 70, 84, 92)
(2, u'Poonam', u'F', 87, 69, 93)
(3, u'Nik', u'M', 65, 83, 90)
(4, u'Rahul', u'F', 83, 76, 89)

### MySQL database

#### install package

In [12]:
!conda install -y -q pymysql

Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\sowens\AppData\Local\Continuum\anaconda2

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pymysql-0.9.2              |           py27_0          81 KB

The following NEW packages will be INSTALLED:

    pymysql: 0.9.2-py27_0

Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

#### import package

In [14]:
import pymysql

#### connect to database

In [25]:
# connection details
cnx= {'host': 'mysqldb.c12wj3xlqsae.us-west-2.rds.amazonaws.com:3306',
      'username': 'test',
      'password': 'test123456',
      'db': 'classroomDB'}
# connect to the database
connection = pymysql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'] )
#close database
connection.close()

OperationalError: (2003, "Can't connect to MySQL server on 'mysqldb.c12wj3xlqsae.us-west-2.rds.amazonaws.com:3306' ([Errno 11001] getaddrinfo failed)")

### MS SQL Server database

#### install package

In [21]:
!conda install -y -q pymssql

Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\sowens\AppData\Local\Continuum\anaconda2

  added / updated specs:
    - pymssql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    freetds-1.00.91            |       hc64555f_0         983 KB
    pymssql-2.1.3              |           py27_0         310 KB
    ------------------------------------------------------------
                                           Total:         1.3 MB

The following NEW packages will be INSTALLED:

    freetds: 1.00.91-hc64555f_0
    pymssql: 2.1.3-py27_0

Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

#### import package

In [22]:
import pymssql

#### connect to database

In [26]:
cnx= {
    'host': 'mssqldb.c12wj3xlqsae.us-west-2.rds.amazonaws.com:1433',
    'username': 'test',
    'password': 'test123456',
    'db': 'tempDB'}

conn = pymssql.connect(cnx['host'], cnx['username'], cnx['password'], cnx['db'])
conn.close()

InterfaceError: Connection to the database failed for an unknown reason.